<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE packages [
	<!ELEMENT packages (package*)>
	<!ELEMENT package EMPTY>
	<!ATTLIST package id CDATA #REQUIRED>
	<!ATTLIST package version CDATA #REQUIRED>
	<!ATTLIST package targetFramework CDATA #REQUIRED>
	<!ATTLIST package developmentDependency CDATA #IMPLIED>
]>
<packages>
  <package id="linq2db" version="4.3.0" targetFramework="net452" />
  <package id="linq2db.SQLite" version="4.3.0" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net452" />
</packages>